<%= render :partial => 'spree/admin/shared/product_sub_menu' %>
<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => 'Variants'} %>

<%= form_tag update_multiple_admin_product_variants_path, :method => :post do %>
  <table class="index sortable" data-sortable-link="<%= update_positions_admin_product_variants_path(@product) %>">
    <tr data-hook="variants_header">
      <th><%= t(:options) %></th>
      <th width="50"><%= t(:price) %></th>
      <th width="50"><%= t(:sku) %></th>
      <th width="50"><%= t(:on_hand) %></th>

      <th width="50"><%= link_to "#{t(:height)} (cm)", '#', :onclick => "setAll('height');return false;" %></th>
      <th width="50"><%= link_to "#{t(:width)} (cm)", '#', :onclick => "setAll('width');return false;" %></th>
      <th width="50"><%= link_to "#{t(:depth)} (cm)", '#', :onclick => "setAll('depth');return false;" %></th>

      <th width="50"><%= link_to "#{t(:weight)} (g)", '#', :onclick => "setAll('weight');return false;" %></th>


      <th><%= t(:action) %></th>
    </tr>
    <tbody>
    <% @variants.each do |variant| %>
      <%= fields_for "variants[]", variant do |f| %>
        <!-- you can skip variant with no options: that's just the default variant that all products have -->
      <% next if variant.option_values.empty? %>
      <tr id="<%= spree_dom_id variant %>" <%= 'style="color:red;"' if variant.deleted? %> data-hook="variants_row">
        <td><span class="handle"></span> <%= variant.options_text %></td>
        <td><%= f.text_field :price, :value => number_to_currency(variant.price, :unit => ''), :size => 8 %></td>
        <td><%= f.text_field :sku, :value => variant.sku, :size => 10 %></td>
        <td><%= f.text_field :on_hand, :value => variant.on_hand, :size => 5 %></td>
        <td><%= f.text_field :height, :value => variant.height, :size => 5, :class => "variant_height" %></td>
        <td><%= f.text_field :width, :value => variant.width, :size => 5, :class => "variant_width" %></td>
        <td><%= f.text_field :depth, :value => variant.depth, :size => 5, :class => "variant_depth" %></td>
        <td><%= f.text_field :weight, :value => variant.weight, :size => 5, :class => "variant_weight" %></td>
        <td valign="top">
          <%= link_to_edit(variant) unless variant.deleted? %>
          &nbsp;
          <%= link_to_delete(variant) unless variant.deleted? %>
        </td>
      </tr>
      <% end %>
    <% end %>
    <% unless @product.has_variants? %>
      <tr><td colspan="9"><%= t(:none) %></td></tr>
    <% end %>
    </tbody>
  </table>
  <p><%= submit_tag "Update" %></p>
<% end %>


<% if @product.empty_option_values? %>

  <p class='first_add_option_types' data-hook="first_add_option_types">
    <%= t(:to_add_variants_you_must_first_define) %>
    <%= link_to t(:option_types), admin_product_url(@product) %>
    <%= t(:and) %>
    <%= link_to t(:option_values), admin_option_types_url %>
  </p>

<% else %>

  <div id="new_variant" data-hook></div>

  <br />

  <p id="new_var_link" data-hook>

    <%= link_to icon('add') + ' ' + t(:new_variant), new_admin_product_variant_url(@product), :remote => :true, 'data-update' => 'new_variant', :class => 'iconlink new' %>

    &nbsp;|&nbsp;

    <%= link_to @deleted.blank? ? t(:show_deleted) : t(:show_active), admin_product_variants_url(@product, :deleted => @deleted.blank? ? "on" : "off") %>
  </p>

  <%= image_tag 'spinner.gif', :plugin => 'spree', :style => 'display:none;', :id => 'busy_indicator' %>
<% end %>


<script type="text/javascript">


  function setAll(attribute) {
    value = $('input.variant_'+attribute)[0].value;
    $('input.variant_'+attribute).each(function(){
      $(this).val(value);
    });
  }

  function setHeight(){
    height_value = $('input.variant_height')[0].value;
    $('input.variant_height').each(function(){
      $(this).val(height_value);
    });
  }

</script>
